#vs solution
*.sln
.vs/
.vscode/
*.pyproj
*.pyproj.user

#databank folder
del_files/*
!del_files/overlapp

#python
__pycache__/
*.pyc
.pytest_cache/
venv/

#flask
instance/
.coverage
htmlcov/
dist/
build/
*.egg-info/
node_modules/
.webassets-cache