<div id="about" class="about d-flex justify-content-between flex-wrap mt-3">

    <div class="col col-12 col-md-4">
        
        <div class="card">
        
            <div class="card-body">
        
            <h5 class="card-title">IP Countryside 2.0</h5>
            
            <p class="card-text">IP Countryside 2.0 ist eine auf Python
                basierende Open-Source-Software, die
                Geolokationsabfragen von IP-Adressen
                ermöglicht. Die Version 2.0 kann im
                Vergleich zu ihrer auf C++ basierenden
                Vorgängerversion sowohl IPv4- als
                auch IPv6-Adressen abfragen.</p>
            
            </div>
        
        </div>

    
    </div>
    
    <div class="col col-12 col-md-4">
        
        <div class="card">
        
            <div class="card-body">
        
            <h5 class="card-title">Mehrwert</h5>
            
            <p class="card-text">IP Countryside 2.0 stellt eine vollstän-
                dige Datenbank als Output in verschie-
                denen Formaten zur Verfügung.
                Außerdem kann IP Countryside 2.0 per
                Website aufgerufen werden oder per
                API eingebunden werden.</p>
            
            </div>
        
        </div>

    
    </div>

    <div class="col col-12 col-md-4">
        
        <div class="card">
        
            <div class="card-body">
        
            <h5 class="card-title">Datenbankformate</h5>
            
            <p class="card-text">MaxMind
                ▪ JSON
                ▪ MySQL
                ▪ SQLite
                ▪ Yaml
                ▪ CSV</p>
            
            </div>
        
        </div>

    
    </div>


</div>
