<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    
    <a class="navbar-brand mx-md-5" href="#">
        <img src="" alt="IP Countryside">
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse mx-md-5" id="navbarNavDropdown">

        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href ="#">HOME</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="https://github.com/Markus-Go/ip-countryside/tree/master_python">GITHUB</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href ="#about">ABOUT</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href ="#api__block">API</a>
            </li>

        </ul>

    </div>
    

</nav>

