<div class="ip_info col col-12 col-md-6">
	
    <table class="table">
        
        <tbody>

            <tr >
                <th scope="row">IP adresse space:</th>
                <td class="d-flex justify-content-between"><p class="m-0">{{ip_from}} - {{ip_to}}</p>
                <p class="m-0"><img src="{{url_for('static', filename='img/flags/')}}{{flag}}.gif" alt ="" width="16px" height="11px"></td>
                </p>
            </tr>
        
            <tr>
                <th scope="row">Country:</th>
                <td class=" ">{{country}}</td>
            </tr>

            <tr>
                <th class="align-top" scope="row">Comments:</th>
                <td class="">{{comment}}</td>
            </tr>

        </tbody>

    </table>

</div>