<table class="table h-100">
    
    <tbody>

        <tr >
            <th scope="row">IP-Adresse:</th>
            <td class=" ">{{ip}}</td>            
        </tr>
    
        <tr>
            <th scope="row">Countryflag:</th>
            <td class=""><img src="{{url_for('static', filename='src/img/flags/')}}{{flag}}.gif" alt ="" width="16px" height="11px"></td>
        </tr>
        <tr>
            <th scope="row">Country Code:</th>
            <td class=" ">{{flag}}</td>
        </tr>
        <tr>
            <th scope="row">Country:</th>
            <td class="">{{country}}</td>
        </tr>
        <tr>
            <th scope="row">Comment:</th>
            <td class="">{{comment}}</td>
        </tr>

    </tbody>

</table>