{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-row flex-wrap p-3">
	
	{% if isValid %}

		{% include 'components/table.html' %}

		<div class="col col-12 col-md-6">
			
			{% if hasLocation %}

				<div id="map"></div>

				<script>
						
					lat = "{{lat}}"
					lon = "{{lon}}"
					ip  = "{{ip_from}}"

					init_map(MAP, lat, lon, ip)
			
				</script>
			
			{% else %}

				{% include 'components/no_map_block.html' %}
				
			{% endif %}
			
		</div>

	{% else %}

		<div class="alert alert-danger w-100" role="alert">
			
			Unvalid Input
	  
		</div>

	{% endif %}


</div>

{% include 'components/download_selection.html' %}

{% include 'components/about.html' %}
	

{% endblock %}