{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-row flex-wrap">
	
	<div class="col col-12 col-md-6">
		{% include 'components/table.html' %}
	</div>

	<div class="col col-12 col-md-6">
		
		<div id="map"></div>

		<script>

			if ("{{isValid}}" == "True") {
				L.marker(["{{lat}}", "{{lon}}"]).addTo(map)
				.bindPopup("{{ip}}")
				.openPopup();
			}
	
		</script>

	</div>

</div>

<div class="col col-12 col-md-6">
	<button type="button" class="btn btn-outline-success">Dowanload Database</button>
</div>
{% endblock %}