@import "../../node_modules/bootstrap/scss/bootstrap";

$background: #1a1e21;

body {
   
   display:flex; 
   flex-direction:column; 
   min-height: 100vh;

   .wrapper {

        position: relative;
        flex: 1 0 auto;
        color: $primary;
        overflow: hidden;

        .container {
            position: relative;
            z-index: 1;
        }
       
        
   }

   .main {
        
        margin: 2em;


    }

}

.banner {
    position: relative;
    min-height: 550px;

   

    &__image {
        position:absolute;
        height:100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat; 
        
        &:before{
            position: absolute;
            content: '';
            height: 100%;
            width: 100%;
            background-color: rgba(0,0,0,.4);
            z-index: 2;
        }

    }

    &__block {

        z-index: 3;


        form {
            
            .form-control, .btn {
                border-radius: 0 !important;
            }

        }

    }

}

.col {
    padding: 1em;
}

#map {
    height: 100%;
    width: 100%;
    min-height: 281px;

} 

.table {
    
    th {
        vertical-align: middle;
    }
}

// Navbar
.navbar-custom {

    padding: 1em;
    background-color: fade-out($black, 0.3);

    .navbar-brand {
        font-size: 1rem;
        font-weight: 700;
    }

    
    .collapse.navbar-collapse {

        flex-direction: row-reverse;

        .navbar-nav {

            .nav-item {


            }

        }
    
    }

}


footer {
    
    margin-top: auto;

    .copyright {
        color: $gray-500;
        background-color: rgba(0, 0, 0, 0.2);
    }

}